/* font-family: "Archivo Narrow"; */
/* font-family: "Roboto"; */
body {
   width: 100%;
   height: 100%;
   background-color: #f4f6fa;
}

h1 {
   font-size: 24px;
   font-family: "Roboto";
   font-weight: bold;
   color: #1b7fd0;
}

h2 {
   font-size: 22px;
   font-family: "Roboto";
   font-weight: bold;
   color: #1b7fd0;
}

h3 {
   font-size: 20px;
   font-family: "Roboto";
   font-weight: 600;
   color: #1b7fd0;
}

h4 {
   font-family: "Roboto";
   font-size: 18px;
   color: #1b7fd0;
}

p {
   font-family: "Roboto";
   font-size: 18px;
   color: #000000;
}

.bg1 {
   background-color: #013056;
}

.bg2 {
   background-color: #1b7fd0;
   width: 100%;
   height: 40px;
   margin-top: -20px;
}

a {
   text-decoration: none;
}

.order {
   font-family: "Roboto";
   font-size: 26px;
   color: #ffffff;
   background-color: #dd0000;
}


.afisha {
   width: 100%;
   height: 60px;
   margin-top: 20px;
   background-color: #caddea;
   filter: drop-shadow(2px 3.464px 3.5px rgba(155, 182, 190, 0.75));
}

.afisha .fg {
   width: 0;
   height: 0;
   border-top: 30px solid #caddea;
   border-right: 40px solid transparent;
   position: relative;
   bottom: 10px;
}

.afisha h1 {
   text-align: center;
   font-size: 32px;
   text-transform: uppercase;
   color: #1b7fd0;
   font-weight: 700;
   font-family: "Roboto";
   line-height: 60px;
}




/* ========================HEADER========================== */

header {
   background-image: url(../image/Svg/Bg1-1.svg);
   background-size: 100%;
   background-repeat: no-repeat;
   text-align: left;
}

.header p {
   padding: 15px 0;
   font-size: 20px;
   color: #caddea;
   font-weight: 250;
}

.header .log a {
   font-size: 22px;
   letter-spacing: 1px;
   text-transform: uppercase;
   color: #ffffff;
   font-weight: 400;
   font-family: "Roboto";
   display: inline;
   text-decoration: none;
}

.tel {
   text-align: left;
}

.log {
   text-align: right;
}

.Login::after {
   content: '';
   background-image: url(../image/Svg/Login.svg);
   display: inline-block;
   background-repeat: no-repeat;
   width: 55px;
   height: 20px;
   margin-top: 20px;
}

.Login:hover:after {
   background-image: url(../image/Svg/Login2.svg);
}

.log a:hover {
   color: #1b7fd0;
}

/* ========================NAV========================== */
nav ul {
   list-style-type: none;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}

nav .row {
   height: 44px;
}

nav ul li {
   width: 100%;
   height: 30px;
   margin-top: 5px;

}

nav li a {
   display: block;
   width: 100%;
   height: 100%;
   font-size: 18px;
   letter-spacing: 1px;
   text-transform: uppercase;
   font-weight: 400;
   text-align: center;
   text-decoration: none;
   color: #ffffff;
   font-family: "Roboto";
   line-height: 30px;


   transition: all .2s ease-in-out;
}

nav .bord {
   border-right: 1px solid #ffffff;
   border-left: 1px solid #ffffff;
}

nav .bord1 {
   border-right: 1px solid #ffffff;
}

nav .bord2 {
   border-left: 1px solid #ffffff;
}

nav .bord:hover {
   border-right: 0px solid #caddea;
   border-left: 0px solid #caddea;
}

nav li a:hover {
   color: #1b7fd0;
   background-color: #caddea;

}

@media (max-width:1390px) {
   nav ul li {
      font-size: 15px;
      line-height: 30px;
      font-weight: 500;
   }
}

@media (max-width:1200px) {
   .tel {
      text-align: center;
   }


}


.nav_log {
   position: relative;
   top: 10px;
}


/*? ========================BURGER========================== */
@media (max-width:1200px) {


   .icon_menu {
      position: absolute;
      top: 65px;
      left: 50px;
      flex: 0 0 30px;
      width: 30px;
      height: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      z-index: 3;
   }

   .close_icon_menu {
      position: fixed;
      top: 60px;
      left: 50px;
      flex: 0 0 30px;
      width: 30px;
      height: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      z-index: 3;
   }

   .icon_menu::before,
   .icon_menu::after {
      content: "";
      background-color: #ffffff;
      height: 2px;

   }

   .icon_menu span {
      height: 2px;
      background-color: #ffffff;
   }

   .close_icon_menu {
      display: none;
   }

   .close_icon_menu::before,
   .close_icon_menu::after {
      content: "";
      background-color: #ffffff;
      height: 2px;
      transform-origin: 0 0;
   }

   .close_icon_menu::before {
      transform: rotate(36deg);
   }

   .close_icon_menu::after {
      transform: rotate(-36deg);
   }

   .menu_body {
      position: fixed;
      top: 0px;
      left: -100%;
      width: 350px;
      height: 100%;
      background-color: #013056;
      background-image: url(../image/Svg/Bg1-1.svg);

      transition: left .4s linear;
      z-index: 3;
   }

   .opem_terget:target .menu_body {
      left: 0;
   }

   .menu_link {
      font-size: 18px;
      line-height: 0px;
      position: relative;
      top: 46px;
   }

   .meni_list {
      display: block;
   }

   nav .bord {
      border-right: 0px solid;
      border-left: 0px solid;
   }

   nav .bord1 {
      border-right: 0px solid;
   }

   nav .bord2 {
      border-left: 0px solid;
   }

   nav li:hover {
      color: #1b7fd0;
      background-color: #caddea;
      border-right: 0px solid #caddea;
      border-left: 0px solid #caddea;
   }

   .Login {
      position: relative;
      bottom: 23px;
   }

   .log a:hover {
      color: #ffffff;
   }

   .header:target .icon_menu {
      display: none;
   }

   .header:target .close_icon_menu {
      display: flex;
   }
}

/* ========================BANER========================== */
.baner {
   background-image: url(../image/baner/fon.png);
   background-size: 100% 600px;
   width: 100%;
   height: 600px;
   margin: 0 auto;
}

.woman {
   width: 100%;
   height: 600px;
   object-fit: cover;
   position: absolute;
}

.baner_top {
   position: relative;
   left: 70px;
   width: 630px;
   height: 100%;
   padding: 10px;
}

.baner_top img {
   width: 610px;
   height: 100px;
}

.baner_top ul {
   margin-top: 40px;
   line-height: 35px;
   font-family: "Roboto";
   font-size: 18px;
}

.baner_top ul::first-line {
   font-size: 20px;
   line-height: 33px;
   color: #000000;
}

.baner_top li::marker {
   color: #1b7fd0;
   font-size: 20px;
}

.baner .row {
   margin: 0 auto;
}

.baner .col {
   width: 235px;
   height: 35px;
   margin: 5px 15px;
}

.baner .col a {
   width: 240px;
   height: 100%;
   display: block;
   border: 1px solid #1b7fd0;
   font-size: 18px;
   line-height: 35px;
   color: #1b7fd0;
   font-weight: 400;
   font-family: "Roboto";
   text-decoration: none;
}

.baner .col a:hover {
   font-family: "Roboto";
   /* font-weight: bold; */
   font-size: 18px;
   color: #1b7fd0;
   background-color: #caddea;
}

@media (min-width:1400px) {
   .baner_top {
      position: relative;
      left: 0px;
      width: 1330px;
      margin: 0 auto;
   }

   .baner_top .container {
      width: 630px;
      float: left;
   }
}

/*? ========================AFISHA========================== */
.baner .afisha {
   width: 610px;
   height: 60px;
   margin-top: 20px;
   background-color: #caddea;
   filter: drop-shadow(2px 3.464px 3.5px rgba(155, 182, 190, 0.75));
}

.baner .afisha span {
   width: 0;
   height: 0;
   border-top: 50px solid #caddea;
   border-right: 50px solid transparent;
   position: relative;
   top: 18px;
}

.baner .afisha h1 {
   text-align: center;
   font-size: 32px;
   line-height: 36px;
   text-transform: uppercase;
   color: #1b7fd0;
   font-weight: 700;
   font-family: "Roboto";
   line-height: 60px;
}

/* ========================PRICE========================== */
.Price {
   background-image: url(../image/Svg/Bg2.svg);
   block-size: 200%;
   background-color: #075da2;
   width: 100%;
   height: 320px;
}

.Price .afisha {
   width: 100%;
   height: 60px;
   margin-top: 20px;
   padding: 0 10px;
   display: flex;
   background-color: #caddea;
   filter: drop-shadow(2px 3.464px 3.5px rgba(47, 53, 55, 0.75));
}

.Price .afisha .kut {
   width: 0;
   height: 0;
   border-top: 30px solid #caddea;
   border-right: 40px solid transparent;
   position: absolute;
   top: 58px;
   left: 0;
}

.Price .afisha h1 {
   text-align: left;
   font-size: 32px;
   text-transform: uppercase;
   color: #1b7fd0;
   font-weight: 700;
   font-family: "Roboto";
   line-height: 60px;
   flex: 1 1 200px;
}

.Price .afisha h4 {
   line-height: 60px;
   font-size: 22px;
   text-transform: uppercase;
   color: #075da2;
   font-weight: 400;
}

.Price .afisha h4 span {
   font-size: 35px;
   text-transform: uppercase;
   color: #dd0000;
   font-weight: 400;
}

.Price .afisha h4 :first-child {
   font-size: 49px;
   font-weight: bold;
}

.Price .title {
   margin: 40px 0 0 70px;
}


.Price .form-floating {
   width: 100px;
}

.Price select {
   width: 300px;
   height: 35px;
   border: 0px solid;
   border-radius: 0px;
   color: #075da2;
   background-color: #ffffff;
}

.title h5 {
   text-align: left;
   font-size: 16px;
   line-height: 25px;
   color: #ffffff;
   font-weight: 400;
   font-family: "Roboto";
}

.Price .block {
   display: flex;
   flex-direction: row;
   align-items: flex-end;
   position: relative;
   top: 10px;
}

.Price .block h2 {
   font-size: 48px;
   color: #ffffff;
   font-weight: 400;
   font-family: "Roboto";
   position: relative;
   top: 10px;
}

.Price .block h2 span {
   font-size: 28px;
   color: #ffffff;
   font-weight: 400;
   font-family: "Roboto";
}

.Price .block h5 {
   font-size: 16px;
   text-transform: uppercase;
   color: #ffffff;
   font-weight: 400;
   font-family: "Roboto";
   text-align: left;
   margin-right: 20px;
}

@media (max-width:1200px) {
   .Price select {
      width: 250px;
   }

   .Price .afisha {
      width: 95%;
   }

   .Price .block h2 {
      font-size: 40px;
      position: absolute;
      top: 25px;
      right: 50px;
   }

   .Price .block h2 span {
      font-size: 20px;
   }

   .Price .title {
      margin: 40px 0 0 10px;
   }

}

/*? ========================ORDER========================== */
.order {
   width: 300px;
   height: 40px;
   position: relative;
   top: 30px;

   transition: all .3s linear;
}

.order span {
   width: 0;
   height: 0;
   border-top: 25px solid #dd0000;
   border-right: 30px solid transparent;
   position: absolute;
   left: 0;
   top: 38px;

   transition: all .3s linear;
}

.order h3 {
   text-align: center;
   font-size: 26px;
   text-transform: uppercase;
   color: #ffffff;
   font-weight: 400;
   font-family: "Roboto";
   line-height: 40px;
}

.order:hover {
   background-color: #a40000;
}

.order:hover span {
   border-top: 25px solid #a40000;
}

@media (max-width:1200px) {
   .order {
      width: 250px;
      height: 35px;
   }

   .order span {
      width: 0;
      height: 0;
      border-top: 25px solid #dd0000;
      border-right: 30px solid transparent;
      position: absolute;
      left: 0;
      top: 34px;

      transition: all .3s linear;
   }

   .order h3 {
      line-height: 35px;
   }
}


/* ========================ESSAY========================== */
.Essay {
   background-image: url(../image/Svg/Bg3-1.svg);
   background-repeat: repeat-x;
   background-size: 80%;
   width: 100%;
   height: 1900px;
}

.Essay .text {
   margin-top: 35px;
   font-size: 18px;
   text-align: justify;
   font-weight: 400;
}

.Essay .colonka {
   padding-top: 15px;
   margin-bottom: 35px;

   transition: all .3s ease;

}

.Essay .colonka p {
   font-size: 16px;
}

.Essay .image::after {
   content: "";
   background-image: url(../image/Svg/Element1.svg);
   background-size: 100px;
   display: inline-block;
   width: 100px;
   height: 100px;

   transition: all .3s ease;
}

.Essay .colonka:hover>.image::after {
   content: "";
   background-image: url(../image/Svg/Element1_dark.svg);

   transition: all .3s ease;
}

.colonka h4 {
   /* width: 260px; */
   height: 80px;
   line-height: 22px;
   text-transform: uppercase;
   margin: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
}



.colonka .boxing {
   width: 100%;
   height: 420px;
   padding: 10px;
   text-align: justify;
   font-size: 18px;
}

.colonka ul {
   font-size: 16px;
   color: #000000;
   font-family: "Roboto";
   text-align: left;
   flex: 1 1 auto;

}

.colonka .btn {
   width: 120px;
   height: 35px;
   background-color: #075da1;
   font-size: 16px;
   line-height: 24px;
   text-transform: uppercase;
   color: #ffffff;
   font-weight: 400;
   font-family: "Roboto";
   border-radius: 0px;
   border: 0px;

   transition: all .3s ease;
}

.colonka:hover {
   background-color: #ffffff;
   filter: drop-shadow(2px 3.464px 3.5px rgba(167, 192, 200, 0.75));
   z-index: 2;
}

.colonka .figyra {
   width: 0;
   height: 0;
   border-top: 40px solid #f4f6fa;
   border-right: 50px solid transparent;
   position: relative;
   left: 0;
   bottom: -27px;
   margin: -12px;
   /* left: 2px; */
   padding: 0;

   transition: all .3s ease;
}

.colonka:hover .figyra {
   border-top: 40px solid #ffffff;
}

@media (min-width:1200px) {
   .Essay {
      height: 1100px;
   }
}

@media (min-width:1400px) {
   .Essay {

      height: 1000px;
   }

   .colonka .boxing {
      width: 100%;
      height: 350px;
   }
}

@media (max-width:1200px) {
   .Essay {
      height: 1550px;
   }

   .colonka .boxing {
      height: 250px;
   }

   .afisha h1 {
      font-size: 28px;
   }
}


/* ========================PAPER========================== */
.Paper {
   background-image: url(../image/Svg/Bg2.svg);
   background-repeat: repeat-x;
   background-size: 190%;
   background-color: #1b7fd0;
   width: 100%;
   height: 100%;
}

.Paper .text p {
   margin-top: 35px;
   font-size: 25px;
   text-align: center;
   font-weight: 400;
   color: #ffffff;
}

.Paper .afisha {
   width: 100%;
   height: 60px;
   margin-top: 20px;
   background-color: #caddea;
   filter: drop-shadow(2px 3.464px 3.5px rgba(2, 68, 121, 0.75));
}

.paper_table .nomber {
   width: 30px;
   height: 30px;
   border-radius: 15px;
   background-color: #ffffff;
   font-size: 25px;
   color: #1b7fd0;
   font-weight: 700;
   font-family: "Roboto";
   line-height: 30px;
   margin: 10px 0;
}

.paper_table h5 {
   font-size: 22px;
   color: #ffffff;
   text-align: left;
   padding-bottom: 15px;
   margin-bottom: 20px;
   border-bottom: 2px solid #ffffff;
}


/* ========================WORKS========================== */
.Works {
   width: 100%;
   height: 850px;
   background-image: url(../image/Svg/Bg3-1.svg);
   background-repeat: no-repeat;
   background-size: 100% 170%;
}

.works_main {
   width: 1200px;
   height: 100%;
   margin-top: 80px;
}

.works_main ul {
   height: 440px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: flex-start;
   list-style-type: none;
}

.works_main li {
   display: flex;
   align-items: center;
   text-align: left;
   width: 600px;
   height: 85px;
   border-bottom: 2px solid #caddea;
   font-size: 16px;
   text-transform: uppercase;
   color: #1b7fd0;
   font-weight: 500;
}

.works_main li h4 {
   padding-top: 10px;
   flex: 1 1 auto;
}

.works_main li h1 {
   font-size: 59px;
   text-transform: uppercase;
   color: #caddea;
   font-weight: 700;
   font-family: Arial, Helvetica, sans-serif;
   text-align: center;
   margin: 0 15px;
}

.works_main ul span {
   width: 0;
   height: 0;
   border-top: 37px solid transparent;
   border-left: 25px solid #075da1;
   border-bottom: 37px solid transparent;
   position: relative;
   left: 24px;
   display: none;
}

.works_main li .right {
   width: 450px;
   height: 440px;
   position: absolute;
   top: 2755px;
   margin-left: 610px;
   background-color: #ffffff;
   display: none;
}

.works_main .right p {
   padding: 0 25px;
   font-size: 14px;
   text-align: justify;
   text-transform: capitalize;
}

.works_main .right img {
   width: 100px;
   margin: 20px 0;
}

.works_main li:hover h4 {
   font-size: 17px;
   color: #ffffff;
   letter-spacing: 2px;
}

.works_main li:hover {
   width: 610px;
   background-color: #075da1;
   border-radius: 2px;
}

.works_main li:hover .right {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
}

.works_main li:hover span {
   display: inline;
   z-index: 2;
}

@media (max-width:1200px) {
   .works_main li {
      display: flex;
      align-items: center;
      text-align: left;
      width: 500px;
      height: 100%;
      border-bottom: 2px solid #caddea;
      font-size: 18px;
      text-transform: uppercase;
      color: #1b7fd0;
      font-weight: 500;
   }

   .works_main li:hover {
      width: 510px;
      background-color: #075da1;
      border-radius: 2px;
   }

   .works_main li .right {
      width: 400px;
      height: 440px;
      position: absolute;
      background-color: #ffffff;
      margin-top: 590px;
      margin-left: 510px;
      text-align: center;
   }
}

@media (max-width:1400px) {
   .works_main li .right {
      position: absolute;
      top: 2878px;
   }
}

.works_main .order {
   position: relative;
   top: 100px;
   margin: 0 auto;
}


/* ========================CARD========================== */
.card {
   display: flex;
   justify-content: center;
   width: 100%;
   height: 80px;
   border: 0px;
   background-color: #caddea;
}

.card .box {
   width: 1300px;
   margin: 0 auto;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.card a {
   margin: 0 10px;
   transition: all .2s linear;
}

.card img {
   width: 80px;
}

.card .right {
   display: flex;
   justify-content: space-between;
   width: 150px;
   height: 30px;
}

.card .right .cl11:hover:after {
   filter: drop-shadow(16px 16px 26px blue) invert(45%);
}

.card .right .cl11::after {
   content: '';
   display: inline-block;
   background-image: url(../image/Svg/Facebook.svg);
   background-repeat: no-repeat;
   width: 20px;
   height: 30px;

   transition: all .2s linear;
}

.card .right .cl12:hover:after {
   filter: drop-shadow(16px 16px 26px blue) invert(45%);
}

.card .right .cl12::after {
   content: '';
   display: inline-block;
   background-image: url(../image/Svg/Twiter.svg);
   background-repeat: no-repeat;
   background-size: 100% 30px;
   width: 30px;
   height: 40px;

   transition: all .2s linear;

}

.card .right .cl13:hover::after {
   filter: drop-shadow(16px 16px 26px blue) invert(45%);
}

.card .right .cl13::after {
   content: '';
   display: inline-block;
   background-image: url(../image/Svg/Pinterest.svg);
   background-repeat: no-repeat;
   width: 30px;
   height: 30px;

   transition: all .2s linear;
}